Repository HumanCellAtlas/metadata-schema, pull requests merged in 2019-05, with the labels that each got.

#982 Release from staging to production - 2019-05-08
  changelog.md
  docs/committers.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  infrastructure_testing_files/current/dcp_integration_test_metadata_1_10X_bundle.xlsx
  infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx
  infrastructure_testing_files/current/dcp_integration_test_metadata_1_optimus_10X_bundle.xlsx
  json_schema/core/biomaterial/biomaterial_core.json
  json_schema/core/file/file_core.json
  json_schema/core/process/process_core.json
  json_schema/module/biomaterial/death.json
  json_schema/module/biomaterial/preservation_storage.json
  json_schema/module/ontology/contributor_role_ontology.json
  json_schema/module/process/purchased_reagents.json
  json_schema/module/project/contact.json
  json_schema/module/project/publication.json
  json_schema/module/protocol/probe.json
  json_schema/property_migrations.json
  json_schema/type/biomaterial/cell_line.json
  json_schema/type/biomaterial/cell_suspension.json
  json_schema/type/biomaterial/donor_organism.json
  json_schema/type/biomaterial/specimen_from_organism.json
  json_schema/type/process/analysis/analysis_process.json
  json_schema/type/process/process.json
  json_schema/type/protocol/analysis/analysis_protocol.json
  json_schema/type/protocol/biomaterial_collection/differentiation_protocol.json
  json_schema/type/protocol/biomaterial_collection/enrichment_protocol.json
  json_schema/type/protocol/biomaterial_collection/ipsc_induction_protocol.json
  json_schema/type/protocol/protocol.json
  json_schema/versions.json
  src/release_prepare.py
  src/schemas_are_valid_json.py
  src/version_update.py
  tests/schema_test_files/process/test_pass_analysis_process.json
  tests/schema_test_files/process/test_pass_new_analysis_process.json
  tests/schema_test_files/project/test_fail_project_0.json
  tests/schema_test_files/project/test_pass_project_0.json
Labels: release

#962 Added start and end time to type process. Fixes #742
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  json_schema/type/process/process.json
  json_schema/update_log.csv
Labels: content

#987 Ran release_prepare.
  changelog.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  json_schema/update_log.csv
  json_schema/versions.json
Labels: content

#988 Moved 10X integration test sheets to archive. Fixes #957.
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.xlsx
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.yaml
  infrastructure_testing_files/current/README.md
Labels: infrastructure

#981 Removed target ref in imaging_protocol.json. Fixes#980.
  changelog.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  json_schema/module/protocol/target.json
  json_schema/property_migrations.json
  json_schema/type/protocol/imaging/imaging_protocol.json
  json_schema/versions.json
Labels: bug, content, imaging

#990 Release from develop to integration - 2019-05-16
  changelog.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  docs/release_process.md
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.xlsx
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.yaml
  infrastructure_testing_files/current/README.md
  json_schema/module/protocol/target.json
  json_schema/property_migrations.json
  json_schema/type/process/process.json
  json_schema/type/protocol/imaging/imaging_protocol.json
  json_schema/versions.json
Labels: release

#996 Release from integration to staging - 2019-05-22
  changelog.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  docs/release_process.md
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.xlsx
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.yaml
  infrastructure_testing_files/current/README.md
  json_schema/module/protocol/target.json
  json_schema/type/process/process.json
  json_schema/type/protocol/imaging/imaging_protocol.json
  json_schema/versions.json
Labels: release

#998 Release from staging to production - 2019-05-28
  changelog.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  docs/release_process.md
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.xlsx
  infrastructure_testing_files/archive/dcp_integration_test_metadata_1_10X_bundle.yaml
  infrastructure_testing_files/current/README.md
  json_schema/module/protocol/target.json
  json_schema/type/process/process.json
  json_schema/type/protocol/imaging/imaging_protocol.json
  json_schema/versions.json
Labels: release

#1000 Added png images and primary source files. Fixes #995.
  docs/images/entities.graffle
  docs/images/entities.png
  docs/images/project_scenario.graffle
  docs/images/project_scenario.png
  docs/images/unit_of_hierarchy.graffle
  docs/images/unit_of_hierarchy.jpg
  docs/images/unit_of_hierarchy.png
  docs/images/unit_scenarios.graffle
  docs/images/unit_scenarios.png
  docs/images/wrapper_process.graffle
  docs/images/wrapper_process.png
  docs/structure.md
Labels: documentation

#977 Deleted "?" on friendly names. Fixes #963
  changelog.md
  docs/jsonBrowser/core.md
  docs/jsonBrowser/module.md
  docs/jsonBrowser/required_fields.md
  docs/jsonBrowser/type.md
  json_schema/module/biomaterial/death.json
  json_schema/module/project/contact.json
  json_schema/module/protocol/channel.json
  json_schema/type/biomaterial/donor_organism.json
  json_schema/type/biomaterial/organoid.json
  json_schema/type/protocol/biomaterial_collection/ipsc_induction_protocol.json
  json_schema/type/protocol/imaging/imaging_protocol.json
  json_schema/type/protocol/sequencing/sequencing_protocol.json
  json_schema/versions.json
Labels: content

#1005 Add schema linter to pre-commit git hook
  .githooks/pre-commit
  README.md
Labels: rex-dcp-surf, task
